name: Builds Docker image and push to Docker Hub

on:
  workflow_call:
    inputs:
      build_context:
        required: true
        type: string
      image_name:
        required: true
        type: string
      image_tag:
        required: false
        type: string
        default: latest
    secrets:
      GH_APP_ID:
        required: true
      GH_APP_INSTALLATION_ID:
        required: true
      GH_APP_PRIVATE_KEY:
        required: true
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  build:
    runs-on:
      group: ArcCI
    steps:
      - name: GitHub login
        id: auth
        uses: TimoWilhelm/action-github-app-auth@v1.0.0
        if: inputs.build_context == 'compass-runtime'
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          installation-id: ${{ secrets.GH_APP_INSTALLATION_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set build variables
        id: build_vars
        env:
          GITHUB_TOKEN: ${{ steps.auth.outputs.access-token }}
        run: |
          TRIVY_IGNOREFILE=""
          if [ -f "${{ inputs.build_context }}/.trivyignore" ]; then
            TRIVY_IGNOREFILE="${{ inputs.build_context }}/.trivyignore"
          elif [ -f "${{ inputs.build_context }}/.trivyignore.yaml" ]; then
            TRIVY_IGNOREFILE="${{ inputs.build_context }}/.trivyignore.yaml"
          fi
          echo "trivy_ignorefile=$TRIVY_IGNOREFILE" >> $GITHUB_OUTPUT

          if [ "${{ inputs.build_context }}" = "compass-runtime" ]; then
            ASSET_DATA=$(curl -sL -H "Authorization: Bearer $GITHUB_TOKEN" -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/repos/FinAI-Project/fenghe-nn/releases/latest | jq -r '.assets[0]')
            ASSET_NAME=$(echo $ASSET_DATA | jq -r '.name')
            ASSET_URL=$(echo $ASSET_DATA | jq -r '.url')
            mkdir -p compass-runtime/packages
            curl -Lo "compass-runtime/packages/$ASSET_NAME" -H "Authorization: Bearer $GITHUB_TOKEN" -H "Accept: application/octet-stream" "$ASSET_URL"
          fi

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.image_name }}
          tags: |
            type=raw,value=${{ inputs.image_tag }}

      - name: Build Docker image
        id: build
        uses: docker/build-push-action@v6
        env:
          DOCKER_BUILD_RECORD_UPLOAD: false
          DOCKER_BUILD_RECORD_RETENTION_DAYS: 3
        with:
          context: ${{ inputs.build_context }}
          load: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            GIT_COMMIT=${{ github.sha }}

      - name: Scan for vulnerabilities
        uses: aquasecurity/trivy-action@master
        env:
          TRIVY_SKIP_VERSION_CHECK: "true"
          TRIVY_DISABLE_VEX_NOTICE: "true"
        with:
          image-ref: ${{ steps.meta.outputs.tags }}
          format: table
          exit-code: "1"
          ignore-unfixed: true
          severity: CRITICAL,HIGH
          timeout: 15m
          trivyignores: ${{ steps.build_vars.outputs.trivy_ignorefile }}

      - name: Push Docker image
        run: |
          docker push ${{ steps.meta.outputs.tags }}
